table {
    font-size: 16px;
    text-align: center;
    border-collapse: separate;
    width: 70%;
}

th, td:first-child {
    padding: 10px 20px;
}

th, td {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: black;
}

th {
    background: #D8E6F3;
}

tr {
    background: honeydew;
}